body{
    line-height: 1em;
}
.img-thumbnail{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.age{
    display: inline-block;
}

.feeIncludesItem{
    list-style-type:none;
}

.key{
    font-family: 'PT Sans Caption', sans-serif;}

.value{
    font-family: 'Roboto', sans-serif;    display: inline-block;
}

.valueItem{
    font-family: 'Roboto', sans-serif;
}