body{
    line-height: 1em;
}
.img-thumbnail{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.age{
    display: inline-block;
}

.feeIncludesItem{
    list-style-type:none;
    padding: 0.2em;
}

.key{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: medium;
    padding: 0.5em;
}

.value{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    font-size: medium;
}

.valueItem{
    font-family: 'Roboto', sans-serif;
}

td {
    vertical-align: middle;
  }