body{
    line-height: 1em;
}
.img-thumbnail{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.age{
    display: inline-block;
}

.feeIncludesItem{
    list-style-type:none;
    padding: 0.2em;
}

.key{
    font-family: 'PT Sans Caption', sans-serif;
}

.h5{
    font-size: medium;
    padding: 0.5em;
}
.value{
    font-family: 'Roboto', sans-serif;
}

.valueItem{
    font-family: 'Roboto', sans-serif;
}

/* #submit:disabled{
    opacity: 0.3;
} */


[id^=feedback]{
    font-size: small;
    vertical-align: text-bottom;

}