<!--CRUD - READ-->

<%- include('partials/header')%>

    <!-----------TITLE-------------->
    <h1 class="text-center my-5">There are <b class="text-success">
            <%= data.length %>
        </b> cats available for adoption</h1>

    <% for (let cat of data) { %>
        <% for (let key in cat) { %>
            <h1>
                <%= cat[key] %>

            </h1>

            <% }}%>



                <!-----------FORM-------------->


                </body>

                </html>