<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Adoption Posts</title>
</head>

<body>
    <h1>Cat Adoption Posts</h1>
    <p>
        <% for (let cat of cats) { %>
            <%= cat.name %>
                <% } %>
    </p>
</body>

</html>