<!--CRUD - CREATE-->

<%- include('partials/header')%>

    <h1 class="text-center">Create a new adoption post</h1>
    <h2 class="text-center">Complete the below information about the Adoptee</h2>
    <h3 class="text-center">All fields required.</h3>
    <div class="d-flex justify-content-center">
        <form class="d-block mt-4" id="adoptionForm" action="" onSubmit="return validateForm()">
            <table class=" table">
                <tbody>
                    <tr>
                        <th scope="row"> <label class="key" for="name">Name: </label></th>
                        <td><input class="userInputText" type="text" name="name" id="name" pattern="[A-Za-z-.].{2,}"
                                title="2 characters minimum" required>
                        </td>
                        <td>
                            <h4 class="feedback"></h4>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"> <label class="key" for="age">Age:</label></th>
                        <td><select id="age" name="age">
                                <option value="" default></option>
                                <option value="Young">Young (0 - 6 months)</option>
                                <option value="Adolescent">Adolescent (7 months - 2 years)</option>
                                <option value="Prime">Prime (3 - 6 years)</option>
                                <option value="Mature">Mature (7 to 10 years)</option>
                                <option value="Senior">Senior (11+ years)</option>
                            </select></td>
                    </tr>

                    <tr>
                        <th scope="row"> <label class="key" for="color">Color: </label></th>
                        <td> <input class="userInputText" type="text" name="color" id="color" pattern="[A-Za-z-.].{3,}"
                                title="3 characters minimum" required>
                        </td>
                        <td>
                            <h4 class="feedback"></h4>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label class="key" for="breed">Breed: </label></th>
                        <td> <input class="userInputText" type="text" name="breed" id="breed" pattern="[A-Za-z-.].{3,}"
                                title="3 characters minimum" required>
                        </td>
                        <td>
                            <h4 class="feedback"></h4>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"> <label class="key" for="gender">Gender: </label></th>
                        <td> <select id="gender" name="gender">
                                <option value="" default></option>
                                <option value="female">Female</option>
                                <option value="male">Male</option>
                            </select></td>
                    </tr>
                    <tr>
                        <th scope="row"><label class="key" for="backStory">Description/History: </label></th>
                        <td> <textarea name="backStory" id="backStory" cols="50" rows="8" minlength="30" maxlength="400"
                                title="30 - 400 characters"></textarea>
                            <h4 class="feedback mt-2"><span class="counter">400</span> characters available</h4>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label class="key" for="source">Adoption Source: </label></th>
                        <td><input class="userInputText" type="text" name="source" id="source" pattern="[A-Za-z-.].{3,}"
                                title="3 characters minimum" required>
                        </td>
                        <td>
                            <h4 class="feedback"></h4>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label class="key" for="sourcetype">Adoption Source Type: </label></th>
                        <td><input class="userInputText" type="text" name="sourcetype" id="sourcetype"
                                pattern="[A-Za-z-.].{3,}" title="3 characters minimum" required></td>
                        <td>
                            <h4 class="feedback"></h4>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label class="key" for="adoptionFee">Adoption Fee:</label></th>
                        <td><input type="number" id="adoptionFee" name="adoptionFee" min="0" required></td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <legend class="key">Included in Adoption Fee: (Select all that applies)</legend>
                        </th>
                        <td>
                            <ul class="feeIncludes">
                                <li class="feeIncludesItem"><input type="checkbox" id="sterilized" name="sterilized"
                                        value="sterilized">
                                    <label for="sterilized">
                                        Sterilized</label>
                                </li>
                                <li class="feeIncludesItem"><input type="checkbox" id="FIVFelV tested"
                                        name="FIVFelV tested" value="FIVFelV tested">
                                    <label for="FIVFelV tested">
                                        FIV/FelV tested</label>
                                </li>
                                <li class="feeIncludesItem"><input type="checkbox" id="vaccine" name="vaccine"
                                        value="vaccine">
                                    <label for="vaccine">
                                        Basic Vaccine</label>
                                </li>
                                <li class="feeIncludesItem"><input type="checkbox" id="microchipped" name="microchipped"
                                        value="microchipped">
                                    <label for="microchipped">
                                        Microchipped</label>
                                </li>
                                <li class="feeIncludesItem"><input type="checkbox" id="other" name="other"
                                        value="other">
                                    <label for="other">Other </label>
                                    <span class="otherInputSpan" style="display: none">: <input type="text"
                                            class="otherInput" name="otherInput" pattern="[A-Za-z-.].{3,}"
                                            title="3 characters minimum"></span>
                                </li>
                                <li class="feeIncludesItem"><input type="checkbox" id="noInclusions" name="noInclusions"
                                        value="noInclusions">
                                    <label for="noInclusions">
                                        No Inclusions</label>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><label class="key" for="img">Upload Image :</label></th>
                        <td><input type="file" id="img" name="img" accept="image/*" required /></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="d-grid gap-2 col-4 mx-auto">
                                <button class="btn bg-dark text-white" type="button" id="submit">Submit</button>
                            </div>
                        </td>
                    </tr>
                </tbody>


        </form>
    </div>

    <script src="/js/assets/create.js">
    </script>
    </body>

    </html>