<!--CRUD - CREATE-->

<%- include('partials/header')%>

    <h1>Create a new adoption post</h1>
    <h2>Complete the below information about the Adoptee</h2>
    <form id="adoptionForm" action="">
        <div class="d-block">
            <label for="name">Name: </label><input type="text" name="name" id="name" required>
        </div>

        <div class="d-block">
            <label for="age">Age:</label>
            <select id="age" name="age">
                <option value="">---Please Select---</option>
                <option value="Young">Young (0 - 6 months)</option>
                <option value="Adolescent">Adolescent (7 months - 2 years)</option>
                <option value="Prime">Prime (3 - 6 years)</option>
                <option value="Mature">Mature (7 to 10 years)</option>
                <option value="Senior">Senior (11+ years)</option>
            </select>
        </div>

        <div class="d-block">
            <label for="color">Color: </label>
            <input type="text" name="color" id="color" required>
        </div>

        <div class="d-block">
            <label for="breed">Breed: </label>
            <input type="text" name="breed" id="breed" required>
        </div>
        <div class="d-block">
            <label for="gender">Gender: </label>
            <select id="gender" name="gender">
                <option value=""></option>
                <option value="female">Female</option>
                <option value="male">Male</option>
            </select>
        </div>

        <div class="d-block">
            <label for="backstory">Description/History: </label>
        </div>
        <div class="d-block"><textarea name="backstory" id="backstory" cols="30" rows="10"></textarea>
        </div>

        <div class="d-block">
            <label for="source">Adoption Source: </label>
            <input type="text" name="source" id="source" required>
        </div>

        <div class="d-block">
            <label for="sourcetype">Adoption Source Type: </label>
            <input type="text" name="sourcetype" id="sourcetype" required>
        </div>

        <div class="d-block">
            <label for="adoptionFee">Adoption Fee:</label>
            <input type="number" id="adoptionFee" name="adoptionFee" min="0" required>
        </div>

        <div class="d-block">
            <legend>Included in Adoption Fee: (Select all that applies)</legend>
            </label>
            <ul class="feeIncludes">
                <li class="feeIncludesItem"><input type="checkbox" id="sterilized" name="sterilized" value="sterilized">
                    <label for="sterilized">
                        Sterilized</label>
                </li>
                <li class="feeIncludesItem"><input type="checkbox" id="FIVFelV tested" name="FIVFelV tested"
                        value="FIVFelV tested">
                    <label for="sterilized">
                        FIV/FelV tested</label>
                </li>
                <li class="feeIncludesItem"><input type="checkbox" id="vaccine" name="vaccine" value="vaccine">
                    <label for="vaccine">
                        Basic Vaccine</label>
                </li>
                <li class="feeIncludesItem"><input type="checkbox" id="microchipped" name="microchipped"
                        value="microchipped">
                    <label for="microchipped">
                        Microchipped</label>
                </li>
                <li class="feeIncludesItem"><input type="checkbox" id="other" name="other" value="other">
                    <label for="other">Other </label>
                    <span class="otherInputSpan" style="display: none">: <input type="text" class="otherInput"
                            name="otherInput"></span>
                </li>

            </ul>
        </div>
        <button id="submit">Submit</button>
    </form>


    <script src="/js/assets/create.js">
        console.log("hi");
    </script>
    </body>